@font-face {
    font-family: 'zhwl-black';
    src: url('../../public/font/字魂未来智能黑.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'zhjd-black';
    src: url('../../public/font/字魂经典黑.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
